.agendar {
  background-color: #f5f5ff;
  padding: 40px 20px;
  text-align: center;
  border-top: 2px solid #a363f8;
}

.agendar h2 {
  font-size: 2em;
  margin-bottom: 20px;
}

.agendar form {
  max-width: 500px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.agendar input,
.agendar select,
.agendar button {
  padding: 10px;
  border: 2px solid #f80000;
  border-radius: 8px;
  font-size: 1em;
}

.agendar button {
  background: linear-gradient(#8e2de2, #a363f8);
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s;
}

.agendar button:hover {
  background: #ff7300;
}